<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/reset.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Old+Standard+TT&display=swap" rel="stylesheet">

    <!-- STYLES -->
    <link rel="stylesheet" href="../static/styles.css">
    <meta name="viewport" content="width=device-width">

    <title>
      {% block pageTitle %}{% endblock %}
    </title>


    <nav class="navbar navbar-expand-lg sticky-top" style="background-color: #F5F2EA;">
      <img src="../static/Compendi_logo.svg" alt="logo" width="200" >
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <!-- url_for('projects', user_id=session[user].user_id) -->
            <a class="nav-link m-1" href="" style="font-family: 'Bebas Neue', cursive; font-size:2rem; color: #010101;">Projects</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href=" {{url_for('login')}} ">Login</a>
          </li>

          <li>
            <a href=" {{url_for('register')}} ">
              <button class="btn">Register</button>
            </a>
          </li>
        </ul>

      </div>
    </nav>

    {% block head %}{% endblock %}
  </head>

  <body>
    {% for msg in get_flashed_messages() %}
      <div class="alert alert-info m-2 text-center" role="alert">
        {{ msg }}
      </div>
    {% endfor %}

    {% block body %}{% endblock %}

    {% block after_body %}{% endblock %}
  </body>
</html>