{% extends 'base.html' %}

{% block head %}{% endblock %}
{% block pageTitle %} Projects {% endblock %}

{% block body %}
<div id="projects-header" class="">
    <h1 class="bebas" style="font-size: 3rem;">Projects</h1>
</div>

<div id="projects-body" class="d-flex flex-row justify-content-between">
    
    <div id="projects_list" class="list-group p-4 rounded">
        
        <div id="list-btns-div">
            <a href="/add-project">
                <div id="add-project-btn" class="btn">+</div>
            </a>
        </div>

        

        {% if projects == None %}
            <div class="list-group-item">
                <div><h2 class="bebas mt-2 text-center">You don't have any projects yet.</h2></div>
                <div><h2 class="bebas mt-2 text-center"> Click the '+' btn to get started. </h2></div>
            </div>
        {% else %}

            {% for project in projects %}
                <a href=" {{url_for('project', user_id=project.user_id, project_name=project.name)}} " class="project-card list-group-item list-group-item-action p-3 rounded">
                    <div class="d-flex flex-column">
                        <div><h2 class="bebas mt-2">{{project.name}}</h2></div>
                        <div><p class="bebas" style="font-size: 1rem; color: #FDC886">{{project.created.day}}/{{project.created.month}}/{{project.created.year}}</p></div>
                        <div><p>{{project.desc}}</p></div>
                    </div>
                </a>
            {% endfor %}
        
        {% endif %}

    </div>

    <div id="stats-div" class="d-flex flex-column align-content-between flex-wrap p-3 rounded" style="background-color: #F5F2EA; height: fit-content;"> 
        <div id="stats-head">
            <h2 class="bebas">Stats</h2>
            <hr>
        </div>
        <div id="stats-body">
            <div class="stat">
                <h3 class="old" style="font-size: 1rem;">Word Count:</h3>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 25%; background-color: #CBCD88" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>
    </div>

</div>


{% endblock %}