{% extends 'base.html' %}

{% block head %}{% endblock %}
{% block pageTitle %} Projects {% endblock %}

{% block body %}
<div id="projects-header" class="">
    <h1 class="bebas" style="font-size: 3rem;">Projects</h1>
</div>

<div id="projects-body" class="d-flex flex-row justify-content-between">
    
    <div id="projects_list" class="list-group p-4 rounded">
        <div class="btns-containter">
            <!-- Button trigger new project modal -->
            <button id="add-btn" style="margin: 10px;" type="button" class="btn" data-toggle="modal" data-target="#add-project-modal">
                <span class="btn-icon material-icons" style="color: white;">add_circle</span>
            </button>
        </div>

         <!-- project creation modal -->
         <div id="add-project-modal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
              <div class="mymodal modal-content d-flex flex-column p-3">
                
                <form action=" {{url_for('add_project')}}" method="POST">
                    {{ add_project_form.csrf_token }}
                    <div>
                        {{add_project_form.project_name.label(class="bebas", style="font-size: 1.5rem;")}}
                        {{add_project_form.project_name(class="old p-1")}}
                    </div>
                    
                    {{add_project_form.desc.label(class="bebas", style="font-size: 1.5rem;")}}
                    <div>
                        {{add_project_form.desc(class="old p-1", style="width:100%;")}}
                    </div>
                    
                    <div class="d-flex flex-row justify-content-end">
                        {{add_project_form.submit(class="bebas", style="background-color:#CBCD88; border:none; color:white;")}}
                    </div>
                </form>

              </div>
            </div>
        </div>

        

        {% if projects == None %}
            <div class="list-group-item projects-list-group-item">
                <div><h2 class="bebas mt-2 text-center">You don't have any projects yet.</h2></div>
                <div><h2 class="bebas mt-2 text-center"> Click the '+' btn to get started. </h2></div>
            </div>
        {% else %}

            {% for project in projects %}
                <div class="d-flex flex-row justify-content-between"> 
                    <a href=" /folder-view/{{project.root_folder_id}} " class="project-card projects-list-group-item list-group-item list-group-item-action p-3 rounded">
                        <div class="d-flex flex-column">
                            <div><h2 class="bebas mt-2">{{project.name}}</h2></div>
                            <div><p class="bebas" style="font-size: 1rem; color: #FDC886">{{project.created.day}}/{{project.created.month}}/{{project.created.year}}</p></div>
                            <div><p style="white-space: pre-line;">{{project.desc}}</p></div>
                        </div>
                    </a>
                    <div class="d-flex flex-row justify-content-end align-items-center">
                        <a href="/delete-project/{{project.project_id}}">
                            <button class="btn circle-btn m-2" type="button">
                                <span class="material-icons" style="color: #cfc099;">delete</span>
                            </button>
                        </a>
                    </div>
                </div>
            {% endfor %}
        
        {% endif %}

    </div>

    <div id="stats-div" class="d-flex flex-column align-content-between flex-wrap p-3 rounded" style="background-color: #F5F2EA; height: fit-content;"> 
        <div id="stats-head">
            <h2 class="bebas">Stats</h2>
            <hr>
        </div>
        <div id="stats-body">
            <div class="stat ">
                <h3 class="old" style="font-size: 1rem;">Monthly Word Goal: 49,235 / 100,000</h3> 
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: {{(49235/100000)*100}}%; background-color: #CBCD88" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{(49235/100000)*100}}%</div> 
                </div>
            </div>
            <div class="stat mt-2">
                <h3 class="old" style="font-size: 1rem;">Weekly Word Goal: 16,347 / 25,000</h3>
                <div class="progress">
                    <div class="progress-bar " role="progressbar" style="width: {{(16347/25000)*100}}%; background-color: #CBCD88" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{(16347/25000)*100}}%</div>
                </div>
            </div>
            <div class="stat mt-2">
                <h3 class="old" style="font-size: 1rem;">Avg Daily Word Count: 3,269 words</h3>
            </div>
        </div>
    </div>

</div>


{% endblock %}