{% extends 'base.html' %}

{% block head %}{% endblock %}
{% block pageTitle %}{% endblock %}

{% block body %}

<div id="projects-body" class="d-flex flex-row justify-content-between">
    
    <div id="projects_list" class="list-group p-4 rounded">
        
        <div id="list-btns-div">
            <a href="/settings">
                <div id="settings-btn" class="btn">
                    <img src="../static/gear.svg" alt="settings">
                </div>
            </a>

            <a href="/add-project">
                <div id="add-project-btn" class="btn">+</div>
            </a>
        </div>

        

        {% if projects == None %}
            <div class="list-group-item">
                <div><h2 class="bebas mt-2 text-center">This project is empty</h2></div>
                <div><h2 class="bebas mt-2 text-center"> Click the '+' btn to start fillin it up. </h2></div>
            </div>
        {% else %}
            <!-- Handles the folders -->
            {% for child in children[0] %}
                <a href="  " class="project-card list-group-item list-group-item-action p-3 rounded">
                    <div class="d-flex flex-row">
                        <img src="../static/folder.svg" alt="folder: {{child.name}} ">
                        <div><h2 class="bebas ml-3">{{child.name}}</h2></div>
                    </div>
                </a>
            {% endfor %}

            <!-- Handles the files -->
            {% for child in children[1] %}
                <a href="  " class="project-card list-group-item list-group-item-action p-3 rounded">
                    <div class="d-flex flex-row align-items-center">
                        <img src="../static/file.svg" alt="folder: {{child.name}} ">
                        <div><h2 class="bebas ml-3">{{child.name}}</h2></div>
                    </div>
                </a>    
            {% endfor %}
        
        {% endif %}

    </div>

    <div id="stats-div" class="d-flex flex-column align-content-between flex-wrap p-3 rounded" style="background-color: #F5F2EA; height: fit-content;"> 
        <div id="stats-head">
            <h2 class="bebas">Stats</h2>
            <hr>
        </div>
        <div id="stats-body">
            <div class="stat">
                <h3 class="old" style="font-size: 1rem;">Word Count:</h3>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 25%; background-color: #CBCD88" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}