/* FONTS */
.bebas {
    font-family: 'Bebas Neue', cursive;
    color: #010101;
    letter-spacing: 3px;
    vertical-align: middle;
}
.old {
    font-family: 'Old Standard TT', serif;
    color: #010101;
}

/* MSGS */
.message {
    background-color: #c5c868;
    color: white;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 3px;
    font-size: 1rem;
    text-align: center;
    width: 90vw;
    height: fit-content;
    padding: 10px;
    margin: auto;
    margin-top: 10px;
    border-radius: 10px;
}
.error {
    background-color: #9f9b8f;
    color: white;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 3px;
    font-size: 1rem;
    text-align: center;
    width: 90vw;
    height: fit-content;
    padding: 10px;
    margin: auto;
    margin-top: 10px;
    border-radius: 10px;

}


/* PROJECTS PAGE */
#projects_list {
    width: 60vw;
    margin-left: 3rem;
    margin-right: 1rem;
}
#stats-div {
    width: 30vw;
    margin-right: 3rem;
}
#stats-head {
    width: 100%;
}
#projects-header {
    margin-left: 3rem;
}
#add-project-btn {
    background-color: #c5c868;
    color: white;

    
    height: 40px;
    width: 40px;
    border-radius: 50%;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    
    font-size: 3rem;
    line-height: 1.7rem;
    font-family: 'Bebas Neue';
}
#add-project-btn:hover {
    background-color: #aaad51;
}
#list-btns-div {
    /* background-color: #010101; */
    height: 200px;
    width: 40px;
    transform: translateX(-45px);
    position: absolute;
    z-index: 1;
}
#list-btns-div>a {
    text-decoration: none;
}
.list-group-item {
    margin-bottom: 10px;
    border: 5px solid transparent;
}
.list-group-item:hover {
    border: 5px solid #c5c868;
    background: white;
}
#projects_list {
    background-color: #F5F2EA;
}


/* NAVBAR */
.navbar {
    margin-bottom: 2rem;
}
#profile-btn {
    height: 50px;
    width: 50px;
    padding: 0;
}
.nav-item, .nav-link{   
    align-self: center;
}