/* FONTS */
.bebas {
    font-family: 'Bebas Neue', cursive;
    color: #010101;
    letter-spacing: 3px;
    vertical-align: middle;
}
.old {
    font-family: 'Old Standard TT', serif;
    color: #010101;
}

/* MSGS */
.message {
    background-color: #c5c868;
    color: white;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 3px;
    font-size: 1rem;
    text-align: center;
    width: 90vw;
    height: fit-content;
    padding: 10px;
    margin: auto;
    margin-top: 10px;
    border-radius: 10px;
}
.error {
    background-color: #9f9b8f;
    color: white;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 3px;
    font-size: 1rem;
    text-align: center;
    width: 90vw;
    height: fit-content;
    padding: 10px;
    margin: auto;
    margin-top: 10px;
    border-radius: 10px;

}


/* PROJECTS PAGE */
#projects_list {
    width: 60vw;
    margin-left: 3rem;
    margin-right: 1rem;
}
#stats-div {
    width: 30vw;
    margin-right: 3rem;
}
#stats-head {
    width: 100%;
}
#projects-header {
    margin-left: 3rem;
}
#add-btn, #settings-btn {
    background-color: #c5c868;
    color: white;

    
    height: 40px;
    width: 40px;
    border-radius: 50%;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    
    font-size: 3rem;
    line-height: 1.7rem;
    font-family: 'Bebas Neue';
}
#add-btn:hover, #settings-btn:hover {
    background-color: #FDC886;
}
#list-btns-div {
    /* background-color: #010101; */
    height: 200px;
    width: 40px;
    transform: translateX(-45px);
    position: absolute;
    z-index: 1;
}
#list-btns-div>a {
    text-decoration: none;
}
.projects-list-group-item {
    margin-bottom: 10px;
    border: 5px solid transparent;
}
.projects-list-group-item:hover {
    border: 5px solid #c5c868;
    background: white;
}
#projects_list {
    background-color: #F5F2EA;
}


/* NAVBAR */
.navbar {
    margin-bottom: 2rem;
}
#profile-btn {
    height: 50px;
    width: 50px;
    background-color: #FDC886; 
    border-radius:50%;
}
#profile-btn:hover{
    background-color: #e8b67a;
}
#profile-btn>span {
    position: relative;
    transform: translateX(-18px) translateY(-10px);
    font-size: 2.5rem;
    padding: 3px;
    width: 0;
    height: 0;
}
.nav-item, .nav-link{   
    align-self: center;
}
#projects-btn>button {
    font-size: 1.5rem; 
    color: white; 
    background-color: #C7BDA3; 
    border: none;
}
#projects-btn>button:focus {
    outline: none;
}
#logo {
    align-self: center;
    text-decoration:none; 
    color: black; 
    font-size: 2rem; 
    font-weight:700; 
    text-align: center;
}

/* Modal */
.mymodal {
    background-color: white;
    border: 10px solid #F5F2EA;
}
.mymodal>form>div>input, .mymodal>form>div>textarea {
    border: 5px solid #F5F2EA;
    border-radius: 10px;
}
.mymodal>form>div>ul>li>input {
    appearance: none;
    margin: 0;
    font: inherit;
    color: #F5F2EA;
    width: 1.5rem;
    height: 1.5rem;
    border: 0.15em solid #F5F2EA;
    border-radius:5px;
}
.mymodal>form>div>ul>li>input:checked {
    background-color: #d7d1c0;
}
.mymodal>form>div>input:focus, .mymodal>form>div>textarea:focus {
    outline: none;
    border-radius: 10px;
    
}

.btns-containter {
    height: min-content;
    width: min-content;
    position: absolute;
    transform: translateX(-55px) translateY(-20px);
}
.btns-containter-file {
    height: min-content;
    width: min-content;
    position: absolute;
    z-index: 1;
    transform: translateX(-32px) translateY(60px);
}
.btns-containter-file>a>span {
    font-size: 1.6rem;
    display: inline;
    line-height: 2rem;
}
.btn-icon {
    font-size: 2rem; 
    transform: translateY(-6px);
}
#settings-btn {
    background-color: #c5c868;
}
.trash-btn {
    padding: 0px;
    background-color: transparent;
}
.interactive-icon:hover {
    color: #edc767 !important; 
}

.section-div {
    border-radius: .25rem;
    padding: 10px;
    background-color: #F5F2EA;
}
.section-header .section-header:focus .section-header:hover {
    text-decoration: none;
    text-decoration-line: none;
}
#galleryCarousel {
    width: inherit;
    height: 80vh;
    --galleryheight: 80vh;
}
#left-gallery-div {
    width: 35%;
    --gallery-div-heights: calc(var(--galleryheight)-3rem);
}
#image-list-div {
    height: calc(100% - 52px);
    
}
#right-gallery-div {
    height: var(--gallery-div-heights);
    min-width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.d-block {
    max-height: calc(var(--galleryheight) - 2em)  ;
    max-width: 60vw;
    /* aspect-ratio: auto; */
    margin: 0;
}
.carousel-arrow {
    color:#000000;
    font-size: 2rem;
}
#btn-div {
    position: absolute;
    transform: translateX(-15px) translateY(100px);
}
.image-del-btn {
    color: #cfc099;
    background-color: transparent;
    border: 0px;
}
.image-del-btn:focus {
    outline: none;
}